@import views.html.helper
@import play.api.data.Form
@import model.site.top.SiteViewValueTop

@(vv: SiteViewValueTop)(implicit messages: play.api.i18n.Messages)

@** 施設検索一覧 *@
@views.html.common.layout.InnerContent("site-app-new-user-form", "content") {
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  @** --[ 見出し ]---------------------------------------------------------- *@
  <h3 class="content__section header">
    <span class="header__title">地方創生 × 学習</span>
  </h3>

  <div style="text-align:center">
  <img src="/assets/images/site/recruit/internship_for_summer_21/261534164.png" width="80%" height="350" alt="イラスト1" ></br>
  </div>

  <div style="text-align:center">
        <a class="btn btn-primary" href="@controllers.article.routes.ArticleController.search" role="button">探しに行きたい</a>
        <a class="btn btn-primary" href="http://localhost:9000/request/input" role="button">教えに行きたい</a>
  </div>
}
